:root {
  // Fonts
  --f-main-font: 'Manrope';
  --f-fallback-font: 'Arial', 'sans-serif';

  --f-color-dark-1: #000;
  --f-color-dark-2: #8f8f8f;
  --f-color-light-1: #fff;
  --f-color-blue-1: #008aed;

  --c-background-light-1: #fff;
  --c-background-dark-1: #292929;
}